.btn {
    padding: 10px 0px;
    width: 100%;
    background: rgb(46, 44, 44);
    color: aliceblue;
}

.center-text {
    margin: auto 0 !important;
}

.row {
    padding: 32px 24px;
    margin: 0px !important;
}

.navbar {
    display: flex;
    height: 64px;
    padding: 0px 24px;
    z-index: 9999;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
}

.header-text {
    font-size: 32px;
}

.content-text {
    font-size: 18px;
}

header img {
    height: 50px;
    margin: auto 0;
    /* margin-top: 16px; */
}

header span {
    height: 32px;
}

header ul {
    margin-left: auto;
    margin-bottom: 0;
}

header li {
    display: inline;
    padding-left: 16px;
}

header a {
    color: black;
}

.fristIntro {
    background-color: grey;
    margin-top: 64px;
}

.images-banner {
    padding: 0px 24px 0px 0px;
}

.fristIntro img {
    width: 100%;
    height: auto;
}

#bannerText {
    margin: auto 0;
}

.secondIntro img {
    width: 100%;
}

.introText-left h1 {
    margin: auto 0;
}

#introRight img {
    height: auto;
    padding: 16px 0px 16px 16px;
}

#introRight {
    padding: 0%;
}

#introRgiht h2,
p {
    margin-bottom: 8px;
}

#introText-right {
    margin: auto 0;
    padding: 0px 24px;
}

.card img {
    width: 100%;
}

#start h1 {
    padding: 32px 0px;
    margin-bottom: 0;
}

#last-topic {
    margin-bottom: 0;
}

.cardRow {
    display: flex;
}

.cardRow2 {
    display: flex;
    margin-top: 32px;
    padding-bottom: 32px;
}

.cardLeft {
    margin-left: 72px;
    margin-right: 16px;
}

.cardMid {
    margin: 0px 16px;
}

.cardRight {
    margin-right: 72px;
    margin-left: 16px;
}

.card {
    padding: 0 auto;
    width: 100%;
}

.card-img {
    margin-bottom: 16px;
}

.card-topic {
    margin: 0px 16px;
}

.card-courses {
    margin: 8px 16px;
}

.card-content {
    margin: 0px 16px 24px 16px;
}

.backgroundColor {
    background-color: grey;
}

#lastRow {
    padding: 0px 24px 0px 0px;
}

video {
    width: 100%;
    padding: 0px 24px 24px 0px;
}

.images-thesis {
    padding: 16px 16px;
    width: 100%;
}

.head-text {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0;
}

.mid-topic {
    padding: 32px 0px;
}

.head-topic {
    padding: 32px 0px 0px 0px;
}

.sub-head-text {
    font-size: 22px;
}

.banner-right {
    padding: 0% !important;
}

footer {
    margin: 16px 24px;
    border-top: 2px solid;
}

.moblie {
    display: none;
}

.non-padding {
    padding: 0%;
}

@media only screen and (max-width: 700px) {
    .desktop {
        display: none;
    }
    .moblie {
        display: flex !important;
    }
    .row,
    .non-padding {
        padding: 0%;
    }
    #bannerText {
        padding: 32px 16px;
    }
    .moblie-padding {
        padding: 64px 32px;
    }
    .banner-moblie {
        padding: 32px 0px 24px 0px;
        margin: 0%;
    }
    .banner-image {
        padding: 0px 16px !important;
    }
    .mid-topic {
        padding: 32px 0px 16px 0px;
    }
    .backgroundColor {
        background-color: white;
    }
    .head-text {
        font-size: 42px;
    }
    .box {
        font-size: 300%;
        color: black;
        margin: 0px 16px 8px 16px;
        padding: 16px 16px 24px 16px;
        border: none;
        background-color: gainsboro;
    }
    .moblie-footer {
        margin: 16px;
    }
}